<a href="https://colab.research.google.com/github/patelmedha/project2/blob/main/PROJECT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PROJECT 2**

In [1]:
#Imports
## Pandas
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## Numpy
import numpy as np

##Seaborn
import seaborn as sns

##Matplotlib
import matplotlib.pyplot as plt

# CHOICE 1: Stroke Prediction
**Context**
  - According to the World Health Organization (WHO) stroke is the 2nd leading cause of death globally, responsible for approximately 11% of total deaths.
  

1. Source of data
  - Source : https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset

2. Brief description of data
 - - This dataset is used to predict whether a patient is likely to get stroke based on the input parameters like gender, age, various diseases, and smoking status. Each row in the data provides relavant information about the patient.

3. What is the target?
  - Target column is stroke. Predicting whether patient will suffer from a stroke or not.
   

4. What does one row represent? (A person? A business? An event? A product?)

    - **Attribute Information**
  1. id: unique identifier
  2. gender: "Male", "Female" or "Other"
  3. age: age of the patient
  4. hypertension: 0 if the patient doesn't have hypertension, 1 if the patient has hypertension
  5. heart_disease: 0 if the patient doesn't have any heart diseases, 1 if the patient has a heart disease
  6. ever_married: "No" or "Yes"
  7. work_type: "children", "Govt_jov", "Never_worked", "Private" or "Self-employed"
  8. Residence_type: "Rural" or "Urban"
  9. avg_glucose_level: average glucose level in blood
  10. bmi: body mass index
  11. smoking_status: "formerly smoked", "never smoked", "smokes" or "Unknown"*
  12. stroke: 1 if the patient had a stroke or 0 if not
  
  *Note: "Unknown" in smoking_status means that the information is unavailable for this patient

5. Is this a classification or regression problem?
  - Classification problem

6. How many features does the data have?
  - 11 features

7. How many rows are in the dataset?
  - 5110 rows

8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?
  - This data  has 201 missing values in the BMI column.

## Load Data

In [6]:
from os import read
#Load Data
from google.colab import drive
drive.mount('/content/drive')

stroke_fpath = '/content/drive/MyDrive/CodingDojo/PROJECT 2/healthcare-dataset-stroke-data.csv'
df_stroke = pd.read_csv(stroke_fpath)
df_stroke.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [8]:
#Display number of rows and columns for the dataframe
print(f'There are {df_stroke.shape[0]} rows, and {df_stroke.shape[1]} columns.')
print(f'The rows represent {df_stroke.shape[0]} observations, and the columns represent {df_stroke.shape[1]-1} features and 1 target variable.')

There are 5110 rows, and 12 columns.
The rows represent 5110 observations, and the columns represent 11 features and 1 target variable.

In [9]:
df_stroke.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [13]:
#Duplicate Rows
df_stroke.duplicated().sum().sum()

0

In [12]:
#Missing values
df_stroke.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

#CHOICE 2: Cirrhosis Prediction

1. Source of data
  - Source: https://www.kaggle.com/datasets/fedesoriano/cirrhosis-prediction-dataset

2. Brief description of data
  - Cirrhosis is a late stage of scarring (fibrosis) of the liver caused by many forms of liver diseases and conditions, such as hepatitis and chronic alcoholism. The following data contains the information collected from the Mayo Clinic trial in primary biliary cirrhosis (PBC) of the liver conducted between 1974 and 1984. A description of the clinical background for the trial and the covariates recorded here is in Chapter 0, especially Section 0.2 of Fleming and Harrington, Counting

3. What is the target?
  - Stage

4. What does one row represent? (A person? A business? An event? A product?)

    - **Attribute Information**
    1. ID: unique identifier
    2. N_Days: number of days between registration and the earlier of death, transplantation, or study analysis time in July 1986
    3. Status: status of the patient C (censored), CL (censored due to liver tx., or D (death)
    4. Drug: type of drug D-penicillamine or placebo
    5. Age: age in [days]
    6. Sex: M (male) or F (female)
    7. Ascites: presence of ascites N (No) or Y (Yes)
    8. Hepatomegaly: presence of hepatomegaly N (No) or Y (Yes)
    9. Spiders: presence of spiders N (No) or Y (Yes)
    10. Edema: presence of edema N (no edema and no diuretic therapy for edema., S (edema present without diuretics, or edema resolved by diuretics), or Y (edema despite diuretic therapy)
    11. Bilirubin: serum bilirubin in [mg/dl]
    12. Cholesterol: serum cholesterol in [mg/dl]
    13. Albumin: albumin in [gm/dl]
    14. Copper: urine copper in [ug/day]
    15. Alk_Phos: alkaline phosphatase in [U/liter]
    16. SGOT: SGOT in [U/ml]
    17. Triglycerides: triglicerides in [mg/dl]
    18. Platelets: platelets per cubic [ml/1000]
    19. Prothrombin: prothrombin time in seconds [s]
    20. Stage: histologic stage of disease (1, 2, 3, or 4)

5. Is this a classification or regression problem?
  - Classification Problem

6. How many features does the data have?
  - 19 features

7. How many rows are in the dataset?
  - 418

8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?
  - This data set has too many missing values. Imputing them may lead to a biased model.

In [17]:
cirrhosis_fpath = '/content/drive/MyDrive/CodingDojo/PROJECT 2/cirrhosis.csv'
df_cirrhosis = pd.read_csv(cirrhosis_fpath)
df_cirrhosis.head()

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,1,400,D,D-penicillamine,21464,F,Y,Y,Y,Y,14.5,261.0,2.60,156.0,1718.0,137.95,172.0,190.0,12.2,4.0
1,2,4500,C,D-penicillamine,20617,F,N,Y,Y,N,1.1,302.0,4.14,54.0,7394.8,113.52,88.0,221.0,10.6,3.0
2,3,1012,D,D-penicillamine,25594,M,N,N,N,S,1.4,176.0,3.48,210.0,516.0,96.10,55.0,151.0,12.0,4.0
3,4,1925,D,D-penicillamine,19994,F,N,Y,Y,S,1.8,244.0,2.54,64.0,6121.8,60.63,92.0,183.0,10.3,4.0
4,5,1504,CL,Placebo,13918,F,N,Y,Y,N,3.4,279.0,3.53,143.0,671.0,113.15,72.0,136.0,10.9,3.0

In [18]:
#Display number of rows and columns for the dataframe
print(f'There are {df_cirrhosis.shape[0]} rows, and {df_cirrhosis.shape[1]} columns.')
print(f'The rows represent {df_cirrhosis.shape[0]} observations, and the columns represent {df_cirrhosis.shape[1]-1} features and 1 target variable.')

There are 418 rows, and 20 columns.
The rows represent 418 observations, and the columns represent 19 features and 1 target variable.

In [19]:
df_cirrhosis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             418 non-null    int64
 1   N_Days         418 non-null    int64
 2   Status         418 non-null    object
 3   Drug           312 non-null    object
 4   Age            418 non-null    int64
 5   Sex            418 non-null    object
 6   Ascites        312 non-null    object
 7   Hepatomegaly   312 non-null    object
 8   Spiders        312 non-null    object
 9   Edema          418 non-null    object
 10  Bilirubin      418 non-null    float64
 11  Cholesterol    284 non-null    float64
 12  Albumin        418 non-null    float64
 13  Copper         310 non-null    float64
 14  Alk_Phos       312 non-null    float64
 15  SGOT           312 non-null    float64
 16  Tryglicerides  282 non-null    float64
 17  Platelets      407 non-null    float64
 18  Prothrombin    416 non-null    float64
 19  Stage          412 non-null    float64
dtypes: float64(10), int64(3), object(7)
memory usage: 65.4+ KB

In [21]:
df_cirrhosis.duplicated().sum().sum()

0

In [22]:
df_cirrhosis.isna().sum()

ID                 0
N_Days             0
Status             0
Drug             106
Age                0
Sex                0
Ascites          106
Hepatomegaly     106
Spiders          106
Edema              0
Bilirubin          0
Cholesterol      134
Albumin            0
Copper           108
Alk_Phos         106
SGOT             106
Tryglicerides    136
Platelets         11
Prothrombin        2
Stage              6
dtype: int64